@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    margin: 0;
    background: white;
    font-family: 'Montserrat', sans-serif; /* coloca na ordem que vd quer de preferencia,
    se a pessoa nao tiver a primeira, o browser pega a segunda e ai vai*/

}

p, blockquote{
    font-size: .9em;
    line-height: 1.6em;

}

ul{
    list-style-type: none; /* tira os bullets das listas*/
    margin: 0;
    padding: 0;
}

.container{
    text-align: center;
    /*margem eh fora do elemento e padding eh dentro*/
    padding: .8em 1.2em ; /*a ordem eh top right bottom lef de descrever, ou usa os
    padding-tio, padding-right e tal*/
}

.logo{
    width: 130px;
}

header{ /*a classe header engloba o logo e o simbolo ham*/
    display: flex;
    justify-content: space-between;
}

.hide-mobile{
    display: none;
}

.menu{
    width: 25px;
    margin-top: 45%;
}

.server{
    width:70%;
    margin: 2em auto 2em 25%;
}

h1, .subhead{
    position: relative;
    z-index: 3; /*nao liga pra isso aqui*/
}

.subhead{
    font-size: 1.1em;
}

.blue-container{
    width: 100%;
    background: #00c2ff;
    /* a propriedade "color" eh pra texto*/
    color: white;
    margin-top: 15%;
    padding: 4em 0 2em;
    border-top-left-radius: 40px;
    transform: skewY(-2deg); /*entorta tudo pro cantin*/
}

.blue-container ul{
    transform: skewY(2deg); /*o skewY de cima girou tudo, entao 
    com essa linha vc pega só o ul do blue container, que são os ícones com os textos 
    e aí "desentorta" na gambiarra*/
}